<div class="panel panel-primary">

  <div class="panel-heading">
    {{pageTitle}}
  </div>

  <div class="row">
    <div class="col-md-12">
      <img src='{{product?.imageUrl}}'/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">Nombre: </div><div class="col-md-8">{{product?.name}}</div>
  </div>

  <div class="row">
    <div class="col-md-4">Lanzamiento: </div><div class="col-md-8">{{product?.releaseDate}}</div>
  </div>

  <div class="row">
    <div class="col-md-4">Precio: </div><div class="col-md-8">{{product?.price}}</div>
  </div>

  <div class="row">
    <div class="col-md-4">Descripcion: </div><div class="col-md-8">{{product?.description}}</div>
  </div>

  <div class="row">
    <div class="col-md-4">Puntuación: </div>
    <div class="col-md-8">
      <app-star [rating]="product?.rating"></app-star>
    </div>
  </div>
  
</div>